.username {
    color: #8AB4F8;
}

.links-description {
    text-align: center;
    margin: -1em 0em;
}

@media (min-width: 850px) {
    .links-description {
        text-align: left !important;
        margin: -1.5em 0em;
    }
}