---
layout: page
permalink: /links/
title: Links
description: You can find me through the links below
image: /d0cc8647-6694-486a-fcd3-46091b951b00/public
---
<link rel="stylesheet" type='text/css' href="/assets/css/links.css" />

<p class="text-center text-md-start" style="margin: -1.5em 0em;">{{ page.description }}</p>

<div id="post-list">
    {% for link in site.data.links %}
    <article class="card-wrapper card">
        <a href="{{ link.link }}" class="card post-preview row g-0 flex-md-row-reverse" target="_blank" rel="noopener"
            style="background: #1E1E1E;">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title my-2 mt-md-0">
                    {% if link.icon %}
                    <i class="{{ link.icon }}"></i>
                    {% endif %}
                    <span class="ms-1">
                        {{ link.title }}
                    </span>
                </h1>
                {% if link.description %}
                <div class="card-text content mt-0 mb-0">
                    <p>
                        {{ link.description }}
                    </p>
                </div>
                {% endif %}
                <div class="post-meta flex-grow-1 d-flex align-items-end link-a mb-0 mt-0">
                    <span class="username">{{ link.username }}</span>
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>