---
layout: page
---
<link rel="stylesheet" type='text/css' href="/assets/css/projects.css" />

<div id="post-list">
    {% for project in site.data.projects %}
    <article class="card-wrapper card">
        <a href="{{ project.github }}" class="post-preview row g-0 flex-md-row-reverse" target="_blank"
            rel="noopener" style="background: #1E1E1E; border: none;">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title mt-md-0">
                    <div class="project-title">
                        {{ project.title }}
                        <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: small; vertical-align: super; margin-left: .3em; color: #8AB4F8;"></i>
                    </div>
                </h1>
                <div class="card-text content mb-0" style="margin-top: -0.2em;">
                    <p>
                        {% if page.lang == 'pt' %}
                            {{ project.description }}
                        {% else %}
                            {{ project.description_en }}
                        {% endif %}
                    </p>
                </div>
                <div class="post-meta">
                    {{ project.deploy }}
                </div>
                <div class="badge-stack">
                    {% for tag in project.tags %}
                    <div>
                        <span class="tag-stack">{{ tag }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>